<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>

</head>
<body>
	<section>
	<div>
		<!--about code saquib-->
<section class="about-section">
        <div class="container">
            <div class="row">                
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title"> 
                            <span class="title">About formal tailors DISCRIPTIONS  </span>
                            <h2>We are Creative Tech Enthusiast working since 1999</h2>
                        </div>
                        <div class="text">I am Rahul Yaduvanshi works at Css3 Transition since last 3 years. We are here to provide touch notch solution for your website or web application that helps you to make your website look attractive & efficient in handling by creating usefull plugins thats you need.</div>
                      <div class="text">
                        We are here to serve you next level tutorial that currently in trend to match you with your expertise. Css3 transition is a learning website. where you can find many good quality content related to web development and tutorials about plugins. here we are using html, html5, css, css3, jquery & javascript along with inspirational UI design layout by professionals by using Photoshop and adobe allustrator.
                      </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft">
                      <div class="author-desc">
                        <h2>Md Meraz Tailor Exprence 20 year+</h2>
                        <span>Mean Tailor</span>
                      </div>
                        <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Md Meraz Tailor Exprence 20 year+"  src="" th:src="@{/img/tailor-shop-vintage-painting.jpg}"  alt=""></a></figure>
                     
                    </div>
                </div>
              
            </div>
           <div class="sec-title">
                            <span class="title">Our Future Goal</span>
                            <h2>We want to lead in innovation & Technology</h2>
                        </div>
          <div class="text">
                We works on UI/UX and functionality as well so that a plugins comes with proper stucture & stunning looks which suits to your web app & website.
              </div>
               <div class="text">
                We take a small toolkit here and ride it well so that it is fit for your use. One who performs well and looks even better.
              </div>
               <div class="text">                
Here we are trying to give you all kinds of technical content, whether it is related to designing or functionality. We are creating content on a lot of languages and will continue to make it free of cost even if you use it without any problem. Which is a very important thing.
              </div>
               <div class="text">
                Here you can also share the content you create, if our technical team likes it, then we will also share it on our blog.
              </div>
               <div class="text">
                
In the end, I would say keep visiting our website and enjoy the quality content.
              </div>
        </div>
    </section>
    
    <!--anather abou code-->
    <div class="we-are-block">

  <div id="about-us-section">

    <div class="about-us-image">

      <img src="https://digitalupgrade.com/images/lobbyimage_1.jpg" width="808" height="458" alt="Lobby Image">

    </div>

    <div class="about-us-info">

      <h2>We are Digital Upgrade</h2>

      <p>Digital Upgrade, located in Evansville, IN, makes it easy for businesses to create and manage their digital presence and logistics, meaning we can make your business more efficient and profitable! We believe in our community and want to help our local business economy grow and expand. We believe in our clients, and want to assist in their digital success. The D-UP team grades ourselves on outcomes, not on sales.</p>

      <a href="#" title="About Us Button">ABOUT US</a>

    </div>

  </div>

  <div id="history-section">

    <div class="history-image">

      <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">

    </div>

    <div class="history-info">

      <h2>Preserving Local History</h2>

      <p>In 2018, technology companies, Desktop Doctors & Digital Upgrade found a new place to call home, at 816 N. 9th Ave. Since the takeover of the 118-year-old building (formally Stippler Tool & Supply and Crown Chair Company), there have been many renovations completed to preserve this local piece of Evansville, IN history.</p>

      <a href="#" title="History Button">HISTORY</a>

    </div>

  </div>

</div>
    
    <!--third about code -->
     <section class="our-team spacing light-background">
   <div class="container">
      <div class="row row-middle pb-3 mb-4 border-bottom">
         <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <div class="highlight-title text-left mb-4">
               <h2 class="mb-2">Our Team</h2>
            </div>
         </div>
         <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <p class="lead mb-0">We are a team of dedicated scientists and business leaders, with a passion and commitment to health care.</p>
         </div>
      </div>
      <div class="leadership-team text-center mt-5 pb-3">
         <h3>Leadership Team</h3>
      </div>
      <div class="row row-middle pb-3" style="margin-left: -7.5px; margin-right: -7.5px; row-gap: 15px;">
         <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-left: 7.5px; padding-right: 7.5px;">
            <div class="team-list">
               <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Mahesh">
               <h3>Mearj Ansari</h3>
               <div class="role text-uppercase">Head of shop</div>
               <div class="location"><img src="https://cdn-icons-png.flaticon.com/512/323/323306.png" alt="Switzerland">India</div>
            </div>
         </div>
         <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-left: 7.5px; padding-right: 7.5px;">
            <div class="team-list">
               <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Charan">
               <h3>Md Saquib Ansari</h3>
               <div class="role text-uppercase">Managing Director</div>
               <div class="location"><img src="https://cdn-icons-png.flaticon.com/512/323/323306.png" alt="Switzerland">India</div>
            </div>
         </div>
         <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-left: 7.5px; padding-right: 7.5px;">
            <div class="team-list">
               <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Ravi">
               <h3>vishishte luvna</h3>
               <div class="role text-uppercase">Finance Supporter</div>
               <div class="location"><img src="https://cdn-icons-png.flaticon.com/512/323/323306.png" alt="Switzerland"></div>
            </div>
         </div>
         <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-left: 7.5px; padding-right: 7.5px;">
            <div class="team-list">
               <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Somesh">
               <h3>Sadab khan</h3>
               <div class="role text-uppercase">Sinor Employe</div>
               <div class="location"><img src="https://cdn-icons-png.flaticon.com/512/323/323306.png" alt="Switzerland">india</div>
            </div>
         </div>
         <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-left: 7.5px; padding-right: 7.5px;">
            <div class="team-list">
               <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Venkat">
               <h3>Ayana Shaikh</h3>
               <div class="role text-uppercase">Sinor Employe</div>
               <div class="location"><img src="https://cdn-icons-png.flaticon.com/512/323/323306.png" alt="Switzerland">india</div>
            </div>
         </div>
         <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-left: 7.5px; padding-right: 7.5px;">
            <div class="team-list">
               <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Patrick">
               <h3>Patrick</h3>
               <div class="role text-uppercase">Help Support Desk</div>
               <div class="location"><img src="https://cdn-icons-png.flaticon.com/512/323/323306.png" alt="Switzerland">india</div>
            </div>
         </div>
      </div>
   </div>
</section>
      </body>

    <!--end of this -->
    
	</div>
	</section>
</body>
</html>